/*Imports*/
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');

/*Variables*/
:root {
    --principal: #256EFF;
    --secondary: #01172F;
    --third: #0B1131;
    --text-color: #D7D6D6;
    --gradient: linear-gradient(to right, #1e5799 0%,#2989d8 50%,#207cca 61%,#7db9e8 99%);
    --font-primary: "Kanit", sans-serif;
    --font-secondary: "Lobster", cursive;
    --text-large: 8em;
    --text-medium-large: 5em;
    --text-medium: 3.5em;
    --text-small: 2em;   
}

/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html{
    font-size: 62.5%;
    font-family: var(--font-primary);
    color: var(--text-color);
}
/*Helpers*/
.flex-row {
    display: flex;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}
/*Header*/
.navegation {
    min-height: 12vh;
    background: var(--gradient);
    font-family: var(--font-secondary);
}
.navbar-light .navbar-brand {
    color: var(--text-color);
    font-size: var(--text-large);
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show > .nav-link {
    color: var(--text-color);
    font-size: var(--text-medium-large);
}
.navbar-light .navbar-nav .nav-link {
    color: var(--text-color);
}
.navbar-toggler {
    background-color: var(--text-color);
}
/*main*/
main {
    background-color: var(--principal);
}
#footer {
    min-height: 8vh;
}
.card-body {
    font-family: var(--font-primary);
    color: var(--text-color);
    background-color: var(--principal);
}
div.card_body {
    background: var(--gradient);
    color: var(--text-color)
}
div.card-header {
    background: var(--gradient);
    color: var(--text-color);
    font-size: var(--text-small)
}
.card-text {
    font-size: var(--text-small);
}
#tables {
    min-height: 76vh;
    font-family: var(--font-primary);
    color: var(--text-color);
}
.parrafo_tabla {
    font-size: var(--text-small);
}
#tables>section>div>h1 {
    font-size: var(--text-medium);
}
#principal>div>div>h1 {
    font-size: var(--text-medium);
}
.list-group-item {
    font-size: var(--text-small);
}
.palmares>h2 {
    font-size: var(--text-medium);
    color: var(--text-color);
}
#trofeos>.palmares>h1 {
    font-size: var(--text-medium-large);
    color: var(--text-color);
}
#trofeos {
    min-height: 76vh;
}
#fotos {
    min-height: 76vh;
}
#formulario {
    min-height: 76vh;
}
#exampleFormControlInput1 {
    max-width: 40%;
}
#exampleFormControlTextarea1 {
    max-width: 40%;
}
#formulario>h1 {
    font-size: var(--text-medium);
    color: var(--text-color);
}
.form-label {
    font-size: var(--text-small);
    color: var(--text-color);
}