/*Imports*/
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');

/*Variables*/
:root {
    --principal: #256EFF;
    --secondary: #01172F;
    --third: #0B1131;
    --text-color: #D7D6D6;
    --gradient: linear-gradient(to right, #1e5799 0%,#2989d8 50%,#207cca 61%,#7db9e8 99%);
    --font-primary: "Kanit", sans-serif;
    --font-secondary: "Lobster", cursive;
    --text-large: 8em;
    --text-medium-large: 5em;
    --text-medium: 3.5em;
    --text-small: 2em;   
}

/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
html{
    font-size: 62.5%;
    font-family: var(--font-primary);
    color: var(--text-color);
}
/*Helpers*/
.flex-row {
    display: flex;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}
/*Header*/
.navegation {
    min-height: 12vh;
    background: var(--secondary);
    font-family: var(--font-secondary);
}
.navbar-light .navbar-brand {
    color: var(--text-color);
    font-size: var(--text-large);
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: var(--text-color);
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show > .nav-link {
    color: var(--text-color);
    font-size: var(--text-medium-large);
}
.navbar-light .navbar-nav .nav-link {
    color: var(--text-color);
}
.navbar-toggler {
    background-color: var(--text-color);
}
#navbarNavDropdown {
    justify-content: flex-end;
}
.nav-item:hover {
    border: 2px solid var(--text-color);
}
.nav-item {
    border: 2px solid var(--secondary);
}
/*main*/
main {
    background-color: var(--principal);
}

.first-title{
    font-size: var(--text-medium-large);
    font-family: var(--font-primary);
    color: var(--text-color);
}
.carouselExampleControlsNoTouching {
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel-inner {
    width: 900px;
}
.photos-home{
    display: flex;
    justify-content: center;
    align-items: center;
}
.accordion-item {
    background-color: var(--principal);
    color: var(--text-color);
    font-size: var(--text-small);
    border: 2px solid var(--text-color);
}
.accordion-button {
    background-color: var(--principal);
    color: var(--text-color);
    font-size: var(--text-small);
}
.accordion-button:not(.collapsed) {
    background-color: var(--principal);
    color: var(--text-color);
}
#tables {
    min-height: 76vh;
    font-family: var(--font-primary);
    color: var(--text-color);
}
.table {
    transition: font-size 3s;
}
.table:hover {
    font-size: var(--text-small);
}
.parrafo_tabla {
    font-size: var(--text-small);
}
.list-group-item {
    font-size: var(--text-small);
    background-color: var(--principal);
    color: var(--text-color);
    border: 2.5px solid var(--text-color);
}
.list-group-item:hover {
    background-color: goldenrod;
}
.palmares>h2 {
    font-size: var(--text-medium);
    color: var(--text-color);
}
#trofeos {
    min-height: 76vh;
}
#fotos {
    background-color: var(--principal);
    min-height: 76vh;
    display: flex;
    justify-content: center;
}
.foto {
    margin: 5px;
}
#formulario {
    min-height: 76vh;
}
#exampleFormControlInput1 {
    max-width: 50%;
}
#exampleFormControlTextarea1 {
    max-width: 50%;
}
.form-label {
    font-size: var(--text-small);
    color: var(--text-color);
    font-family: var(--font-primary);
}
.form-control:focus {
    background: var(--principal);
    color: var(--text-color);
}
.second-title {
    font-size: var(--text-medium);
    color: var(--text-color);
    font-family: var(--font-primary);
}
.form-check-input {
    width: 20px;
    height: 20px;
    margin: 8px;
}
.form-check-label {
    color: var(--text-color);
    font-size: var(--text-small);
    font-family: var(--font-primary);
}
#footer {
    min-height: 8vh;
    background-color: var(--third);
}
div.card_body {
    background: var(--third);
    color: var(--text-color);
}
div.card-header {
    background: var(--third);
    color: var(--text-color);
    font-size: var(--text-small)
}
.card {
    background-color: var(--principal);
    border: none;
}
.card-text {
    font-size: var(--text-small);
}