/*Imports*/
/*Miscelaneous*/
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*partials*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

#footer {
  min-height: 8vh;
  background-color: #0B1131; }

div.card_body {
  background: #0B1131;
  color: #D7D6D6;
  display: flex;
  justify-content: flex-end; }

div.card-header {
  background: #0B1131;
  color: #D7D6D6;
  font-size: 2em; }

.card {
  background-color: #256EFF;
  border: none; }

.card-text {
  font-size: 2em; }

.boton {
  font-size: 3.5em;
  background-color: #0B1131;
  color: #D7D6D6;
  border: none;
  margin-left: 20px;
  margin-right: 20px; }

.navegation {
  color: #D7D6D6;
  background: #01172F;
  font-family: "Lobster"; }

.navbar-light .navbar-brand {
  color: #D7D6D6;
  font-size: 6.3em; }
  .navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: #D7D6D6; }

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show > .nav-link {
  color: #D7D6D6;
  font-size: 3.8em; }

.navbar-light .navbar-nav .nav-link {
  color: 6.3em; }

.navbar-toggler {
  background-color: #D7D6D6; }

#navbarNavDropdown {
  justify-content: flex-end; }

.nav-item {
  border: 2px solid #01172F; }
  .nav-item:hover {
    border: 2px solid #D7D6D6; }

/*views*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*main*/
main {
  background-color: #256EFF;
  box-shadow: inset 0 0 35px 0 #0B1131; }

#principal {
  min-height: 76vh; }

.first-title {
  font-size: 5em;
  font-family: "Kanit";
  color: #D7D6D6;
  padding: 10px; }

#carouselExampleControlsNoTouching {
  display: flex;
  justify-content: center;
  align-items: center; }

.carousel-inner {
  width: 1200px;
  border-radius: 10px; }

.carousel-control-next-icon {
  width: 4rem;
  height: 4rem; }

.carousel-control-prev-icon {
  width: 4rem;
  height: 4rem; }

.carousel-caption {
  color: black; }

.piedefoto {
  font-size: 3.5em;
  font-family: "Kanit"; }

.photos-home {
  display: flex;
  justify-content: center;
  align-items: center; }

.accordion {
  margin-top: 25px; }

.accordion-item {
  background-color: #256EFF;
  color: #D7D6D6;
  font-size: 2em;
  border: 2px solid #D7D6D6; }

.accordion-button {
  background-color: #256EFF;
  color: #D7D6D6;
  font-size: 2em; }
  .accordion-button:not(.collapsed) {
    background-color: #256EFF;
    color: #D7D6D6; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

#tables {
  min-height: 76vh;
  font-family: "Kanit";
  color: #D7D6D6; }

.table {
  transition: font-size 1.5s; }
  .table:hover {
    font-size: 2em; }

.parrafo_tabla {
  font-size: 2em; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

#fotos {
  background-color: #256EFF;
  min-height: 76vh;
  display: flex;
  justify-content: center; }

.foto {
  margin: 5px;
  border-radius: 10px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.palmares > h2 {
  font-size: 3.5em;
  color: #D7D6D6; }

#trofeos {
  min-height: 76vh; }

.list-group-item {
  font-size: 2em;
  background-color: #256EFF;
  color: #D7D6D6;
  border: 2.5px solid #D7D6D6; }
  .list-group-item:hover {
    background-color: goldenrod; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

#formulario {
  min-height: 76vh; }

.mb-3, #exampleFormControlInput1, #exampleFormControlTextarea1 {
  max-width: 50%; }

.form-label {
  font-size: 2em;
  color: #D7D6D6;
  font-family: "Kanit"; }

.form-control:focus {
  background: #256EFF;
  color: #D7D6D6; }

.second-title {
  font-size: 3.5em;
  color: #D7D6D6;
  font-family: "Kanit"; }

.form-check-input {
  width: 20px;
  height: 20px;
  margin: 8px; }

.form-check-label {
  color: #D7D6D6;
  font-size: 2em;
  font-family: "Kanit"; }

.btn {
  font-size: 2em;
  background-color: #0B1131;
  color: #D7D6D6;
  border: none; }

.mb-3.container.botones, .container.botones#exampleFormControlInput1, .container.botones#exampleFormControlTextarea1 {
  margin-bottom: 0px !important; }

html {
  font-size: 62.5%;
  color: #D7D6D6; }

/*helpers*/
.flex-row {
  display: flex; }

.flex-column {
  display: flex;
  flex-direction: column; }

.container {
  max-width: 1440px;
  margin: 0 auto; }
