@import "../misc/variables";
@import "../misc/mixin";
@import "../misc/reset";

#tables {
    min-height: 76vh;
    font-family: map-get($mapfuentes , family1);
    color: map-get($mapcolores , colortexto);
  }
  
  .table {
    transition: font-size 3s;
  
    &:hover {
      font-size: map-get($mapfuentes ,text-small);
    }
  }
  
  .parrafo_tabla {
    font-size: map-get($mapfuentes ,text-small);
  }
  
  .list-group-item {
    font-size: map-get($mapfuentes ,text-small);
    background-color: map-get($mapcolores , principal);
    color: map-get($mapcolores , colortexto);
    border: 2.5px solid map-get($mapcolores , colortexto);
  
    &:hover {
      background-color: goldenrod;
    }
  }