@import "../misc/variables";
@import "../misc/mixin";
@import "../misc/reset";

/*main*/

main {
    background-color: map-get($mapcolores , principal);
    box-shadow: inset 0 0 35px 0 #0B1131;
  }
  #principal {
    min-height: 76vh;
  }
  .first-title {
    font-size: map-get($mapfuentes ,text-medium-large);
    font-family: map-get($mapfuentes , family1 );
    color: map-get($mapcolores , colortexto);
    padding: 10px;
  }
  #carouselExampleControlsNoTouching {
    @include displayflex ();
}
  .carousel-inner {
    width: 1200px;
    border-radius: 10px;
  }
  .carousel-control-next-icon {
    width: 4rem;
    height: 4rem;
  }
  .carousel-control-prev-icon {
    width: 4rem;
    height: 4rem;
  }
  .carousel-caption {
    color: black;
  }
  .piedefoto {
    font-size: map-get($mapfuentes ,text-medium);
    font-family: map-get($mapfuentes , family1 );
  }
  .photos-home {
    @include displayflex ();
}
  .accordion {
    margin-top: 25px;
  }
  .accordion-item {
    background-color: map-get($mapcolores , principal);
    color: map-get($mapcolores , colortexto);
    font-size: map-get($mapfuentes ,text-small);
    border: 2px solid map-get($mapcolores , colortexto);
  }
  
  .accordion-button {
    background-color: map-get($mapcolores , principal);
    color: map-get($mapcolores , colortexto);
    font-size: map-get($mapfuentes ,text-small);
  
    &:not(.collapsed) {
      background-color: map-get($mapcolores , principal);
      color: map-get($mapcolores , colortexto);
    }
  }
  
  

