@import "../misc/variables";
@import "../misc/mixin";
@import "../misc/reset";

.palmares > h2 {
    font-size: map-get($mapfuentes ,text-medium);
    color: map-get($mapcolores , colortexto);
  }
  
  #trofeos {
    min-height: 76vh;
  }
  .list-group-item {
    font-size: map-get($mapfuentes ,text-small);
    background-color: map-get($mapcolores , principal);
    color: map-get($mapcolores , colortexto);
    border: 2.5px solid map-get($mapcolores , colortexto);
  
    &:hover {
      background-color: goldenrod;
    }
  }